.subscribe__header__h2 {
  letter-spacing: -1.75px;
  // text-align: center;
  // width: 76.88%;
  margin: 59px auto auto;
}

.subscribe__header__p {
  // text-align: center;
  margin-top: 10px;
}

input {
  width: 100%;
  height: 50px;
  font-size: 18px;
  margin-bottom: 25px;
  padding-left: 10px;
  // border-bottom: 1px solid rgba(255,255,255,0.4);
  border-bottom: 1px solid $white-opacity-40;
}

input::placeholder {
  font-size: 18px;
  font-style: italic;

  color: $black-9;
  opacity: 1;
}

button[type="submit"] {
  font-style: italic;
  margin-top: 40px;
}